body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

td {
    padding: 0.5em;
}

table {
    background-color: #dddddd;
    width: 90%;
    margin: auto;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
}

th {
    border-bottom: 1px solid #555555;
}

a {
    color: black;   
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
